<!--<table class="table table-striped table-bordered">-->
<!--    <thead class="thead-dark">-->
<!--        <tr>-->
<!--            <td><%= f.label :title, 'タイトル' %></td>-->
<!--            <td><%= f.text_field :title %></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><%= f.label :content_question, '質問内容' %></td>-->
<!--            <td><%= f.text_field :content_question %></td>        -->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><%= f.label :subject_id %></td>-->
<!--            <td><%= f.collection_select :subject_id, Subject.all, :id, :subject_name, :include_blank => "授業カテゴリーを選択してください" %></td>-->
<!--        </tr>-->
<!--    </thead>-->
<!--<% if @question.persisted? %> <!--@questionがデータベースに保存されているかどうか-->-->
<!--    </table>-->
<!--    <%= f.submit '編集' %>-->
<!--<% else %>-->
<!--    </table>-->
<!--    <%= f.submit '質問投稿' %>-->
<!--<% end %>-->


<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <td>
        <div class="form-group">
          <%= f.label :title, 'タイトル' %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <%= f.label :content_question, '質問内容' %>
          <%= f.text_area :content_question, class: 'form-control', rows: 5 %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <%= f.label :subject_id, '科目' %>
          <%= f.collection_select :subject_id, Subject.all, :id, :subject_name, include_blank: "授業カテゴリーを選択してください", class: 'form-control' %>
        </div>
      </td>
    </tr>
  </thead>
</table>

<div class="form-actions">
  <%= link_to '戻る', questions_path, class: 'btn btn-secondary' %>
  <% if @question.persisted? %> <!--@questionがデータベースに保存されているかどうか-->
    <%= f.submit '編集', class: 'btn btn-primary' %>
  <% else %>
    <%= f.submit '質問投稿', class: 'btn btn-primary' %>
  <% end %>
</div>

<style>
  .table {
    margin: auto;
    width: 80%;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .form-actions {
    margin-top: 20px;
    text-align: center;
  }

  .btn-secondary {
    margin-right: 10px;
  }
</style>
