<table>
    <tr>
        <th>タイトル</th>
        <td><%= @question.title %></td>
    </tr>
    <tr>
        <th>質問内容</th>
        <td><%= @question.content_question %></td>
    </tr>
    <tr>
        <th>ユーザーID</th>
        <td><%= @question.user_id %></td>
    </tr>
    <tr>
        <th>カテゴリー</th>
        <td><%= @question.subject.subject_name %></td>
    </tr>
    <% if @question.user_id == current_user.id %>
        <tr>
            <td><%= link_to "編集", edit_question_path(@question) %></td>
        </tr>
        <tr>
            <td><%= link_to "削除", question_path(@question), data: { turbo_method: :delete, confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>