<p style="color: green"><%= notice %></p>

<%= render @subject %>

<div>
  <%= link_to "科目を編集する", edit_subject_path(@subject), class:"btn btn-secondary" %>
  <%= link_to "戻る", subjects_path, class:"btn btn-secondary" %>

  <%= button_to "科目を削除する", @subject, method: :delete, class:"btn btn-secondary" %>
</div>
